button{
    position: absolute;
    width: 15%;
    height: 15%;
    background-color: rgb(193, 33, 87);
    border: 10px;
    margin: 10px;
    font-size: 35px;
    border-radius: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 150px;
    right: 44%;
}

button:hover{
    background-color: rgb(157, 57, 157);
}

body{
    background-color: rgb(231, 151, 177);
    align-items: center;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    right: 40%;
    font-size: 40px;
    top: 50px;
}

